
<h2>Şifremi unuttum</h2>
<hr>
<form asp-action="ForgotPassword" method="Post">
     <div class="mb-3">
        <label for="Email">Email</label>
        <input name="Email" class="form-control">
    </div>
    
     <button type="submit" class="btn btn-primary">Gönder</button>
     

</form>